<div class="wrapper">
        <div class="container-fluid">
                   <div class="row mt-3">
                        <div class="col-12 card-box">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                            <p class="lead">Name: {{complaintUsername}}</p>
                                    </div>
                                    <div class="col-md-6">
                                            <p class="lead">IndexNumber: {{complaintIndexNumber}}</p>
                                    </div>

                                    
                                </div>
                                <div class="row">
                                        <div class="col-md-6">
                                                <p class="lead">Complaint Category: {{ complaintCategory}}</p>
                                        </div>
                                        <div class="col-md-6">
                                                <p class="lead">Complaint Description:  {{complaintDescription}}</p>
                                        </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="lead">Complaint Response: {{complaintResponse}}</p>
                                    </div>

                                    <div class="col-md-6">
                                            <p class="lead">Complaint Status: {{complaintStatus}}</p>
                                        </div>
                                </div>
                               
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>